* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color--black: #232536;
  --color--yellow: #ffd050;
  --color--dark--grey: #4c4c4c;
  --color--medium--grey: #6d6e76;
  --color--low--grey: #b6b5b540;
  --color--purple: #592ea9;
  --color--light: #fff;
  --color--light--yellow: #fbf6ea;
  --color--light--grey: #f4f4f4;
  --color--lavender: #f4f0f8;
  --color--white: #ffffff;
  --main--font--family: "Inter", sans-serif;
  --second--font--family: "Sen", sans-serif;
}

section {
  margin-bottom: 128px;
}

.container {
  padding: 0 80px;
  width: 100%;
  height: 100%;
}

.container.center {
  display: flex;
  justify-content: center;
}

svg {
  transition: 0.2s;
}

/* Стили для кнопок */

button {
  font-weight: 700;
  width: fit-content;
  padding: 16px 48px;
  font-family: var(--second--font--family);
  font-size: 18px;
  color: var(--color--black);
  border: none;
  transition: 0.2s;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.2);
}

.yellow-btn {
  background: var(--color--yellow);
}

.white-btn {
  min-width: 180px;
  cursor: url(assets/icons/plus.ico) 2 2, default;
}

.transperent-btn {
  border: none;
  padding: 0px;
  display: flex;
  background-color: inherit;
}

.transperent-btn:hover {
  transform: none;
}

.transperent-btn.purple {
  color: var(--color--purple);
}

.circle-btn {
  border-radius: 100%;
  background-color: var(--color--light);
  padding: 0;
  width: 48px;
  height: 48px;
}

.circle-btn svg {
  border-radius: 100%;
  fill: var(--color--black);
}

.circle-btn svg:hover {
  fill: var(--color--light);
  background-color: var(--color--black);
}

/* Стили для кнопок */

/* Стили для ссылок */

a {
  cursor: pointer;
  text-decoration: none;
}

.link {
  font-family: var(--main--font--family);
  font-size: 16px;
  white-space: nowrap;
}

.link.header-footer {
  font-size: 16px;
  color: var(--color--light);
}

.link.yellow {
  color: var(--color--yellow);
}
.link.purple {
  color: var(--color--purple);
}

/* Стили для ссылок */

/* Стили для текста  */

h1 {
  font-family: var(--second--font--family);
  font-size: 48px;
}

h2 {
  font-family: var(--second--font--family);
  font-size: 36px;
}

h3 {
  font-family: var(--second--font--family);
  font-size: 28px;
}

h4 {
  font-family: var(--second--font--family);
  font-size: 24px;
}

h5 {
  font-family: var(--second--font--family);
  font-size: 20px;
}

h6 {
  font-family: var(--second--font--family);
  font-size: 16px;
}

.display-text {
  font-weight: 700;
  font-family: var(--second--font--family);
  font-size: 56px;
  color: var(--color--light);
}

.display-text.light {
  color: var(--color--light);
}

.subtitle {
  font-family: var(--main--font--family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
}

.subtitle.light {
  color: var(--color--light);
}

.post-info {
  font-family: var(--main--font--family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}

.post-info.light {
  color: var(--color--light);
}

.subtitle.black {
  color: var(--color--black);
}

.post-info.black {
  color: var(--color--black);
}

.description {
  font-family: var(--main--font--family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}

.description.light {
  color: var(--color--light);
}

.description.medium-grey {
  color: var(--color--medium--grey);
}

.author-position {
  font-weight: 400;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.author-position.medium-grey {
  color: var(--color--medium--grey);
}

.black {
  color: var(--color--black);
}

.medium-grey {
  color: var(--color--medium--grey);
}

.white {
  color: var(--color--white);
}
/* Стили для блока HEADER */
header {
  background-color: var(--color--black);
}

.header-container {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  justify-content: space-between;
}

:first-child .header-container {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  gap: 32px;
}

.link-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Стили для блока HEADER */

/* Стили для блока MAIN POST */

.main-post {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/images/main-post.png);
  width: 100%;
  aspect-ratio: 2/1;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-post-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 60%;
  height: 100%;
}

/* Стили для блока MAIN POST */

/* Стили для блока POSTS  */
.featured-post-section {
  overflow: hidden;
  display: flex;
  gap: 32px;
}

.main-featured-post-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
  padding: 32px;
  border: 1px solid var(--color--low--grey);
}

.featured-post-section > div:first-child {
  max-width: 60%;
}

.all-posts-section > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.post-container {
  padding: 32px;
  cursor: pointer;
  transition: 0.2s;
  overflow: hidden;
}
.post-container:hover {
  background-color: var(--color--light--yellow);
}

/* Стили для блока POSTS  */

/* Стили для блока ABOUT US */

.color-header {
  display: flex;
  height: 20px;
  width: 100%;
}

.white-section {
  height: 100%;
  width: 30%;
  background-color: var(--color--white);
}

.yellow-section {
  height: 100%;
  width: 60%;
  background-color: var(--color--yellow);
}

.purple-section {
  height: 100%;
  width: 30%;
  background-color: var(--color--purple);
}

.about-us .container > div:last-child {
  background-color: var(--color--lavender);
  display: flex;
  padding: 96px 80px;
  gap: 60px;
}

.about-us-section {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-us-section > .subtitle {
  margin-bottom: 8px;
}

/* Стили для блока ABOUT US */

/* Стили для блока CATEGORIES */

.categories .container > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.group-section {
  display: flex;
  gap: 32px;
}

.category-section {
  border: 1px solid var(--color--low--grey);
  padding: 32px;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category-section:hover {
  background-color: var(--color--yellow);
}

.logo-section {
  width: 48px;
  height: 48px;
}

.logo-section.business {
  background: url(assets/icons/business.png), var(--color--light--yellow);
  border-radius: 20%;
}

.logo-section.startup {
  background: url(assets/icons/rocket.png) var(--color--light--yellow);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20%;
}

.logo-section.economy {
  background: url(assets/icons/chart.png), var(--color--light--yellow);
  border-radius: 20%;
}

.logo-section.technology {
  background: url(assets/icons/head.png), var(--color--light--yellow);
  border-radius: 20%;
}

/* Стили для блока CATEGORIES */

/* Стили для блока MOTIVATION-STORIES */

.background {
  background: url(/assets/images/unity-people.png);
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
  background-repeat: no-repeat;
  background-size: 75% 100%;
  position: relative;
}

.motivation-story-section {
  padding: 80px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  max-height: 100%;
  max-width: 50%;
  background-color: var(--color--white);
}

/* Стили для блока MOTIVATION-STORIES */

/* Стили для блока AUTHORS */
.authors .container > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.author-section {
  background-color: var(--color--low--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 25%;
  transition: 0.2s;
  cursor: pointer;
  gap: 20px;
}

.author-section:hover {
  background-color: var(--color--light--yellow);
}

.author-image {
  background-size: contain;
  width: 128px;
  height: 128px;
  border-radius: 100%;
}

.author-image.floyd-miles {
  background-image: url(assets/images/floyd-miles.png);
}

.author-image.dianne-russell {
  background-image: url(assets/images/dianne-russell.png);
}

.author-image.jenny-wilson {
  background-image: url(assets/images/jenny-wilson.png);
}

.author-image.leslie-alexander {
  background-image: url(assets/images/leslie-alexander.png);
}

.icon {
  width: 16px;
  height: 16px;
  transition: 0.2;
  cursor: pointer;
}

.icon:hover path {
  fill: var(--color--purple);
}

.icons-section {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.author-section > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  align-items: center;
}

/* Стили для блока AUTHORS */

/* Стили для блока COMPANY */

.company-section {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.company-section div:first-child {
  display: flex;
  flex-direction: column;
}

.company-section div:last-child {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Стили для блока COMPANY */

/* Стили для блока RECOMENDATION */

.recomendation .container > div:first-child {
  display: flex;
  padding: 90px 0;
  background-color: var(--color--light--yellow);
}

.recomendation-section {
  display: flex;
  flex-direction: column;
  padding: 0 90px;
  gap: 16px;
  justify-content: space-between;
  width: 50%;
}

.choice-author-section {
  display: flex;
  justify-content: space-between;
}

.choice-author-section div:first-child {
  display: flex;
  gap: 16px;
}

.description-section {
  display: flex;
  flex-direction: column;
}

.author-image-choice {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.btn-section {
  display: flex;
  gap: 16px;
}

.btn-section .circle-btn:first-child {
  rotate: 180deg;
}
/* Стили для блока RECOMENDATION */

/* Стили для блока JOIN */

.join-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 35%;
  gap: 16px;
  text-align: center;
}

/* Стили для блока JOIN */

/* Стили для блока FOOTER */

footer {
  background-color: var(--color--black);
}

.footer-container {
  padding: 60px 0;
}

.footer-container > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-email-section {
  justify-content: space-between;
  align-items: center;
  padding: 80px 64px;
  margin: 50px 0;
  font-size: 16px;
  display: flex;
  gap: 64px;
  background-color: rgb(255, 255, 255, 0.05);
}

.input-email-section div:last-child {
  height: 56px;
  display: flex;
  width: 50%;
  gap: 24px;
  justify-content: space-between;
}

.footer-subtitle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h2-section {
  width: 50%;
}

.footer-input {
  border: 1px solid var(--color--medium--grey);
  background-color: transparent;
  padding: 14px 24px;
  width: 100%;
  color: var(--color--light);
  font-size: 16px;
  font-family: var(--second--font--family);
}

.footer-input:focus {
  outline: none;
}

/* Стили для блока FOOTER */

/* MEADIA - запрос/адаптив под 1100px */

@media screen and (max-width: 1165px) {
  section {
    margin-bottom: 64px;
  }

  button {
    padding: 12px 36px;
    font-size: 12px;
  }

  .white-btn {
    min-width: auto;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 12px;
  }

  .container {
    padding: 0 40px;
  }

  .display-text {
    font-size: 40px;
  }

  .subtitle {
    font-size: 12px;
  }

  .post-info {
    font-size: 12px;
  }

  .description {
    font-size: 12px;
  }

  .link {
    font-size: 12px;
  }

  .main-post-section {
    gap: 10px;
  }

  .featured-post-section {
    gap: 16px;
  }

  .post-container {
    padding: 16px;
  }

  .main-featured-post-section {
    padding: 16px;
    gap: 16px;
  }

  .about-us .container > div:last-child {
    padding: 24px 20px;
  }

  .categories .container > div:first-child {
    margin-bottom: 24px;
  }

  .category-section {
    padding: 8px;
  }

  .motivation-story-section {
    padding: 12px;
    max-height: 100%;
    max-width: 50%;
  }

  .author-section {
    padding: 20px;
  }

  .author-image {
    width: 64px;
    height: 64px;
  }

  .recomendation .container > div:first-child {
    padding: 30px 0;
  }

  .recomendation-section {
    padding: 0 30px;
  }

  .input-email-section div:last-child {
    flex-direction: column;
    gap: 10px;
    height: auto;
    align-items: center;
  }
}

/* MEADIA - запрос/адаптив под 1100px */
